<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tourist Inform</title>
</head>
<body>
  <h1>Tourist Inform</h1>
  <table border="1">
    <thead>
      <tr>
        <td>NAME</td>
        <td>CITY</td>
        <td>PRICE</td>
        <td>LONGITUDE</td>
        <td>LATTITUDE</td>
        <td>CATEGORY</td>   
        <td>DURATION</td>             
        <td>RECOMMENDED AGE</td>
        <button></button>  
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <script src="/static/script.js"></script>
</body>
</html>