* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  min-width: 1000px;
  margin 0 auto;
}

.container {
  display: flex;
}

.item {
  min-height: 100px;
  min-width: 100px;
  flex-grow: 1;
}

.green {
  width: auto;
  background-color: #4c3;
}

.yellow {
  width: auto;
  background-color: #ffdd02;
  flex-grow: 2;
}

.purple {
  width: auto;
  background-color: #a33ac9;
}

.purple{order: 1;}
.yellow{order: 2;}
.green{order: 3;}